.c-blue{
    color:#108EE9;
}

.ta-center{
    text-align: center;
}
.ta-right{
    text-align: right;
}
.ta-left{
    text-align: left;
}

.Info .am-list-item .am-input-control input,.am-textarea-control textarea{
    text-align: right;
}

.am-grid .am-flexbox .am-flexbox-item .am-grid-item-content .am-grid-item-inner-content{
    overflow: hidden;
}